## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [28]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Saskylakh,RU,71.92,114.08,55.47,52,100,4.16,overcast clouds
1,1,Castro,BR,-24.79,-50.01,61.23,81,0,4.36,clear sky
2,2,Gizo,SB,-8.10,156.84,83.70,77,20,9.91,few clouds
3,3,Busselton,AU,-33.65,115.33,39.00,98,91,7.70,overcast clouds
4,4,Hithadhoo,MV,-0.60,73.08,82.76,72,84,9.42,heavy intensity rain

In [29]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("Enter the minimum temperature: "))
max_temp = float(input("Enter the maximum temperature: "))

Enter the minimum temperature: 35
Enter the maximum temperature: 70

In [30]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Saskylakh,RU,71.92,114.08,55.47,52,100,4.16,overcast clouds
1,1,Castro,BR,-24.79,-50.01,61.23,81,0,4.36,clear sky
3,3,Busselton,AU,-33.65,115.33,39.00,98,91,7.70,overcast clouds
8,8,Paramonga,PE,-10.67,-77.83,60.82,86,21,10.07,few clouds
9,9,Ilulissat,GL,69.22,-51.10,44.60,84,100,8.05,overcast clouds
10,10,Severo-Kurilsk,RU,50.68,156.12,50.20,88,94,10.29,overcast clouds
13,13,Airai,TL,-8.93,125.41,66.60,39,38,4.00,scattered clouds
15,15,Saint-Philippe,RE,-21.36,55.77,69.80,73,38,9.17,scattered clouds
16,16,Mataura,NZ,-46.19,168.86,56.19,60,99,10.54,overcast clouds
17,17,Port Elizabeth,ZA,-33.92,25.57,46.40,87,75,6.93,light rain

In [31]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                365
City                   365
Country                360
Lat                    365
Lng                    365
Max Temp               365
Humidity               365
Cloudiness             365
Wind Speed             365
Current Description    365
dtype: int64

In [39]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_hotel_df = preferred_cities_df.dropna()

In [41]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_hotel_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()
# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Saskylakh,RU,55.47,overcast clouds,71.92,114.08,
1,Castro,BR,61.23,clear sky,-24.79,-50.01,
3,Busselton,AU,39.00,overcast clouds,-33.65,115.33,
8,Paramonga,PE,60.82,few clouds,-10.67,-77.83,
9,Ilulissat,GL,44.60,overcast clouds,69.22,-51.10,
...,...,...,...,...,...,...,...
713,Olden,NO,48.99,light rain,61.84,6.81,
714,Uyuni,BO,48.74,clear sky,-20.46,-66.83,
715,Mackenzie,CA,57.20,broken clouds,55.30,-123.17,
717,Carballo,ES,59.00,few clouds,43.21,-8.69,
721,Cootamundra,AU,56.35,clear sky,-34.65,148.03,

In [42]:
# Set parameters to search for a hotel
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key
}

# Iterate through 
for index, row in hotel_df.iterrows():
    # get lat, lng from df
    lat = row["Lat"]
    lng = row["Lng"]
    
    params["location"] = f"{lat},{lng}"
    
    # Use the search term: "Hotel" and our lat/lng
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # make request and print url
    name_address = requests.get(base_url, params=params)
    
    # convert to json
    name_address = name_address.json()
    
    # Grab the first hotel from the results and store the name
    try:
        hotel_df.loc[index, "Hotel Name"] = name_address["results"][0]["name"]
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")

hotel_df

Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Saskylakh,RU,55.47,overcast clouds,71.92,114.08,
1,Castro,BR,61.23,clear sky,-24.79,-50.01,CHACARA BAILLY
3,Busselton,AU,39.00,overcast clouds,-33.65,115.33,Observatory Guest House
8,Paramonga,PE,60.82,few clouds,-10.67,-77.83,"Av Douglas Stephen, Los Chalets Paramonga, Lim..."
9,Ilulissat,GL,44.60,overcast clouds,69.22,-51.10,Hotel Arctic
...,...,...,...,...,...,...,...
713,Olden,NO,48.99,light rain,61.84,6.81,Nesset Fjordcamping Olden
714,Uyuni,BO,48.74,clear sky,-20.46,-66.83,Hostal La Magia de Uyuni
715,Mackenzie,CA,57.20,broken clouds,55.30,-123.17,Hilton Shop
717,Carballo,ES,59.00,few clouds,43.21,-8.69,Pazo do Souto
721,Cootamundra,AU,56.35,clear sky,-34.65,148.03,Cootamundra Gardens Motel

In [64]:
# 7. Drop the rows where there is no Hotel Name.
import numpy as np
nan_value = float("NaN")
hotel_df.replace('', np.nan, inplace=True)  
clean_hotel_df = hotel_df.dropna(subset=['Hotel Name'], inplace=False)
print(clean_hotel_df)

               City Country  Max Temp Current Description    Lat     Lng  \
1            Castro      BR     61.23           clear sky -24.79  -50.01
3         Busselton      AU     39.00     overcast clouds -33.65  115.33
8         Paramonga      PE     60.82          few clouds -10.67  -77.83
9         Ilulissat      GL     44.60     overcast clouds  69.22  -51.10
10   Severo-Kurilsk      RU     50.20     overcast clouds  50.68  156.12
..              ...     ...       ...                 ...    ...     ...
713           Olden      NO     48.99          light rain  61.84    6.81
714           Uyuni      BO     48.74           clear sky -20.46  -66.83
715       Mackenzie      CA     57.20       broken clouds  55.30 -123.17
717        Carballo      ES     59.00          few clouds  43.21   -8.69
721     Cootamundra      AU     56.35           clear sky -34.65  148.03

                                            Hotel Name
1                                       CHACARA BAILLY
3                              Observatory Guest House
8    Av Douglas Stephen, Los Chalets Paramonga, Lim...
9                                         Hotel Arctic
10                                            Kak Doma
..                                                 ...
713                          Nesset Fjordcamping Olden
714                           Hostal La Magia de Uyuni
715                                        Hilton Shop
717                                      Pazo do Souto
721                          Cootamundra Gardens Motel

[308 rows x 7 columns]

In [65]:
# 8a. Create the output File (CSV)
output_data_file = "Weather_Database/Vacation_Search.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [68]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""
# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]
locations

       Lat     Lng
1   -24.79  -50.01
3   -33.65  115.33
8   -10.67  -77.83
9    69.22  -51.10
10   50.68  156.12
..     ...     ...
713  61.84    6.81
714 -20.46  -66.83
715  55.30 -123.17
717  43.21   -8.69
721 -34.65  148.03

[308 rows x 2 columns]

In [76]:
# 11a. Add a marker layer for each city to the map. 
locations = clean_hotel_df[["Lat", "Lng"]]
max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# 11b. Display the figure
fig.add_layer(marker_layer)
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))